<?php
//Local host
$user1 = 'root';                                    // change to your localhost db user
$pass1 = 'root';                                    // change to your localhost db password
$db1 = 'mysql:host=localhost; dbname=NATES';        // change to your localhost db name
// ctrlaltdel.dev/NATES
$user2 = '';                                        // change to your remote db user
$pass2 = '';                                        // change to your remote db pass
$db2 = '';                                          // change to your remote db name

try{
    $dbc = new PDO($db1, $user1, $pass1);
}catch(PDOException $e){
    try{
        $dbc = new PDO($db2, $user2, $pass2);
    }catch(PDOException $e2) {
        echo $e->getMessage();
        echo $e2->getMessage();
    }
}
